<ion-header>
  <page-nav-bar [title]="'List'"></page-nav-bar>
</ion-header>

<ion-content>
  <button ion-button secondary (click)="goToCreateRentalProperty()" *ngIf="!rentalProperties">Please Add property to see the monthly reports</button>

  <ion-list *ngIf="rentalProperties">

    <ion-searchbar (ionInput)="search($event)"></ion-searchbar>


    <button ion-item *ngFor="let item of filteredRentalProperties" (click)="selectItem(item)">

      <ion-grid>
        <ion-row>
          <ion-col>
            {{item.tenantName}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{item.buildingName}}
          </ion-col>
          <ion-col>
            {{item.address}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{item.monthlyRent}}
          </ion-col>
          <ion-col>
            {{item.contractStartDate}}
          </ion-col>
          <ion-col>
            {{item.contractEndDate}}
          </ion-col>
        </ion-row>
      </ion-grid>      
    </button>
  </ion-list>
</ion-content>
