<ion-header>
    <page-nav-bar [title]="'Edit rental property'"></page-nav-bar>
</ion-header>

<h1>Create rental property</h1>

<form [formGroup]="rentalPropertyForm" (ngSubmit)="onSubmit()" novalidate>

    <ion-list>
    <ion-item>
        <ion-label color="primary"  for="buildingName" class="center-block">Building Name:
        <span  style="color: red" *ngIf="rentalPropertyForm.get('buildingName').errors?.required &&  
                    (rentalPropertyForm.get('buildingName').dirty || rentalPropertyForm.get('buildingName').touched)" 
                    class="alert alert-danger">*
        </span>
        </ion-label>
        <ion-input class="form-control" formControlName="buildingName" [value]="rentalProperty.buildingName"></ion-input>
    </ion-item>


    <ion-item>
        <ion-label color="primary" for="propertyNumber" class="center-block" >Property Number:
            <span style="color: red" *ngIf="rentalPropertyForm.get('propertyNumber').errors?.required &&  
                        (rentalPropertyForm.get('propertyNumber').dirty || rentalPropertyForm.get('propertyNumber').touched)"
                class="alert alert-danger">*
            </span>
        </ion-label>
        <ion-input class="form-control" formControlName="propertyNumber" [value]="rentalProperty.propertyNumber"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="primary" for="address" class="center-block" >Address:
            <span style="color: red" *ngIf="rentalPropertyForm.get('address').errors?.required &&  
                        (rentalPropertyForm.get('address').dirty || rentalPropertyForm.get('address').touched)"
                class="alert alert-danger">*
            </span>
        </ion-label>
        <ion-input class="form-control" formControlName="address" [value]="rentalProperty.address"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="primary" for="tenantName" class="center-block" >Tenant Name:
            <span style="color: red" *ngIf="rentalPropertyForm.get('tenantName').errors?.required &&  
                        (rentalPropertyForm.get('tenantName').dirty || rentalPropertyForm.get('tenantName').touched)"
                class="alert alert-danger">*
            </span>
        </ion-label>
        <ion-input class="form-control" formControlName="tenantName" [value]="rentalProperty.tenantName"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="primary" for="phoneNumber" class="center-block" >Phone Number:
            <span style="color: red" *ngIf="rentalPropertyForm.get('phoneNumber').errors?.required &&  
                        (rentalPropertyForm.get('phoneNumber').dirty || rentalPropertyForm.get('phoneNumber').touched)"
                class="alert alert-danger">*
            </span>
        </ion-label>
        <ion-input class="form-control" formControlName="phoneNumber" [value]="rentalProperty.phoneNumber"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="primary" for="anotherPhoneNumber" class="center-block">Another Phone Number:
        </ion-label>
        <ion-input class="form-control" formControlName="anotherPhoneNumber" [value]="rentalProperty.anotherPhoneNumber"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="primary" for="contractStartDate" class="center-block" >Contract Start Date:
            <span style="color: red" *ngIf="rentalPropertyForm.get('contractStartDate').errors?.required &&  
                        (rentalPropertyForm.get('contractStartDate').dirty || rentalPropertyForm.get('contractStartDate').touched)"
                class="alert alert-danger">*
            </span>
        </ion-label>
        <ion-input class="form-control" formControlName="contractStartDate" [value]="rentalProperty.contractStartDate"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="primary" for="contractEndDate" class="center-block" >Contract End Date:
            <span style="color: red" *ngIf="rentalPropertyForm.get('contractEndDate').errors?.required &&  
                        (rentalPropertyForm.get('contractEndDate').dirty || rentalPropertyForm.get('contractEndDate').touched)"
                class="alert alert-danger">*
            </span>
        </ion-label>
        <ion-input class="form-control" formControlName="contractEndDate" [value]="rentalProperty.contractEndDate"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="primary" for="monthlyRent" class="center-block" >Monthly Rent Amount:
            <span style="color: red" *ngIf="rentalPropertyForm.get('monthlyRent').errors?.required &&  
                        (rentalPropertyForm.get('monthlyRent').dirty || rentalPropertyForm.get('monthlyRent').touched)"
                class="alert alert-danger">*
            </span>
        </ion-label>
        <ion-input class="form-control" formControlName="monthlyRent" [value]="rentalProperty.monthlyRent"></ion-input>
    </ion-item>

    <ion-item>
            <button type="submit" ion-button round [disabled]="!rentalPropertyForm.valid">Edit</button>
    </ion-item>

    </ion-list>
</form>
